<div class="pages">
<h1>{{msg}}</h1>
	
	<!-- Top Rated Product
	============================================ -->
	<div class="top-product tab-product-2">
		<div class="container">
		
			<div class="row">

				<h2>AVAILABLE NOW!</h2>

				<!--FEATURE Featured Product -tshirt -->
				<div class="col-sm-8  col-md-6 col-lg-6 ">
					<div class="product-grid-featured">
						<!-- Product Image -->
						
						<div class="pro-image">
						<a href="printshop.tshirt.php">
							<img src="img/product/tshirt-featured.jpg" alt="product" />
							<span class="pro-label great-deal">great deals</span>
		
						</a>
						</div>
						
						<!-- Product Content -->
						<div class="pro-content">
							<div class="top fix">
								<h3><a href="printshop.tshirt.php" >T-Shirt</a></h3>
								<p class="price float-right">RM 50</p>
							</div>
					
						</div>
					</div>
				</div>	

				<!-- POPULAR Mug -->
				<div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
					<div class="product-grid-wider">
						<!-- Product Image -->
						
						<div class="pro-image">
						<a href="printshop.mug.php">
							<img src="http://dropp-photo.s3.amazonaws.com/merchandises/v1/mug/22021af37cf6443b8118964df0ad608a.jpg" alt="product" />
							<span class="pro-label great-deal">popular!</span>
							<!-- Product Hover Content -->
						
						</a>
						</div>
						
						<!-- Product Content -->
						<div class="pro-content">
							<div class="top fix">
								<h3><a href="printshop.mug.php">Mug</a></h3>
								<p class="price float-right">RM 20</p>
							</div>
					
						</div>
					</div>
				</div>	

				<!-- Cushion Product -->
				<div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
					<div class="product-grid">
						<!-- Product Image -->
						
						<div class="pro-image">
						<a href="printshop.cushion.php">
							<img src="http://dropp-photo.s3.amazonaws.com/merchandises/v1/cushion/77b5e4ae3796450f823abadd899b1a5a.jpg"" alt="product" />
						
						</a>
						</div>
						
						<!-- Product Content -->
						<div class="pro-content">
							<div class="top fix">
								<h3><a href="printshop.cushion.php">Cushion </a></h3>
								<p class="price float-right">RM 40</p>
							</div>
					
						</div>
					</div>
				</div>
				<!-- Ceramic Product -->
				<div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
					<div class="product-grid">
						<!-- Product Image -->
						
						<div class="pro-image">
						<a href="printshop.ceramic.php">
							<img src="http://dropp-photo.s3.amazonaws.com/merchandises/v1/ceramictile/6091c979c58e4449aebd89d0a92dd1c9.jpg" alt="ceramic" />
							
						</a>
						</div>
						
						<!-- Product Content -->
						<div class="pro-content">
							<div class="top fix">
								<h3><a href="printshop.ceramic.php">Ceramic</a></h3>
								<p class="price float-right">RM 25+</p>
							</div>
					
						</div>
					</div>
				</div>
				<!-- MousePad Product -->
				<div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
					<div class="product-grid">
						<!-- Product Image -->
						
						<div class="pro-image">
						<a href="<?php echo BASE_ECOM ?>mousepad/white" >
							<img src="http://dropp-photo.s3.amazonaws.com/merchandises/v1/mousepad/0713d37dc3434727b00c5f418d56e338.jpg" alt="mousepad" />
							<span class="pro-label great-deal">great deals</span>
					
						</a>
						</div>
						
						<!-- Product Content -->
						<div class="pro-content">
							<div class="top fix">
								<h3><a href="#">Mousepad</a></h3>
								<p class="price float-right">RM 25</p>
							</div>
					
						</div>
					</div>
				</div>
				<!-- Puzzle Product -->
				<div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
					<div class="product-grid">
						<!-- Product Image -->
						
						<div class="pro-image">
						<a href="printshop.puzzle.php" >
							<img src="http://dropp-photo.s3.amazonaws.com/merchandises/v1/puzzle/c315f48f8876464eab7ef498a486a63d.jpg" alt="puzzle" />
						
						</a>
						</div>
						
						<!-- Product Content -->
						<div class="pro-content">
							<div class="top fix">
								<h3><a href="printshop.puzzle.php">Puzzle</a></h3>
								<p class="price float-right">RM 20+</p>
							</div>
						
						</div>
					</div>
				</div>
				<!-- Phone Case -->
				<div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
					<div class="product-grid">
						<!-- Product Image -->
						
						<div class="pro-image">
						<a href="printshop.phonecase.php" >
							<img src="http://dropp-photo.s3.amazonaws.com/merchandises/v1/phone/545ad5e2b3394d418fe82dc8e393e284.jpg" alt="phonecase" />
					
						</a>
						</div>
					
						<!-- Product Content -->
						<div class="pro-content">
							<div class="top fix">
								<h3><a href="printshop.phonecase.php">Phone Case</a></h3>
								<p class="price float-right">RM 10+</p>
							</div>
					
						</div>
					</div>
				</div>


			</div>

			<div class="row">
			<h2>COMING SOON</h2>

			<!--  Mini Tee -->
				<div class="col-sm-8 col-md-3 col-lg-4">
					<div class="product-grid-comingsoon">
						<!-- Product Image -->
						
						<div class="pro-image">
					
						<img src="img/product/miniT.jpg" alt="product" />
						
				
					
						</div>
						
						<!-- Product Content -->
						<div class="pro-content">
							<div class="top fix">
								<h3>Mini Tee</h3>
							
							</div>
						</div>
					</div>
				</div>
				<!-- 4R 5R Photo -->
				<div class="col-xs-6 col-sm-4 col-lg-2">
					<div class="product-grid-comingsoon">
						<!-- Product Image -->
						
						<div class="pro-image">
					
							<img src="https://s3-ap-southeast-1.amazonaws.com/bigpicturestorage/merchandises/v1/4r5r/bg.jpg" alt="product" />
							
						
						</div>
						
						<!-- Product Content -->
						<div class="pro-content">
							<div class="top fix">
								<h3>4R & 5R</h3>
							
							</div>
						
						</div>
					</div>
				</div>

				<!--   CANVAS -->
				<div class="col-xs-6 col-sm-4 col-lg-2">
					<div class="product-grid-comingsoon">
						<!-- Product Image -->
						
						<div class="pro-image">
					
							<img src="http://s3-ap-southeast-1.amazonaws.com/bigpicturestorage/merchandises/v1/canvas/bg.jpg" alt="product" />
					

						</div>
						
						<!-- Product Content -->
						<div class="pro-content">
							<div class="top fix">
								<h3>Canvas</h3>
							
							</div>
						
						</div>
					</div>
				</div>
		
				<!--  PHOTOBOOK -->
				<div class="col-xs-6 col-sm-4 col-lg-2">
					<div class="product-grid-comingsoon">
						<!-- Product Image -->
						
						<div class="pro-image">
						
						<img src="http://s3-ap-southeast-1.amazonaws.com/bigpicturestorage/merchandises/v1/photobook/bg.jpg" alt="product" />
							
						
						</div>
						
						<!-- Product Content -->
						<div class="pro-content">
							<div class="top fix">
								<h3>PhotoBook</h3>
								
							</div>
						</div>
					</div>
				</div>

				<!--  BADGES -->
				<div class="col-xs-6 col-sm-4 col-lg-2">
					<div class="product-grid-comingsoon">
						<!-- Product Image -->
						
						<div class="pro-image">
						
						<img src="http://dropp-photo.s3.amazonaws.com/merchandises/v1/badges/c6f646e4b1e64dfcb1c0acfa8dee19a3.png" alt="product" />
				
				
				
						</div>
						
						<!-- Product Content -->
						<div class="pro-content">
							<div class="top fix">
								<h3>Badges</h3>
						
							</div>
						</div>
					</div>
				</div>				

				<!--  Coaster -->
				<div class="col-xs-6 col-sm-4 col-lg-2">
					<div class="product-grid-comingsoon">
						<!-- Product Image -->
						
						<div class="pro-image">
					
						<img src="http://dropp-photo.s3.amazonaws.com/merchandises/v1/coaster/16a224938a494f4992e2ff87509091e0.jpg" alt="product" />
						
				
				
						</div>
						
						<!-- Product Content -->
						<div class="pro-content">
							<div class="top fix">
								<h3>Coaster</h3>
								
							</div>
						</div>
					</div>
				</div>	

				<!--  Baby Romper -->
				<div class="col-xs-6 col-sm-4 col-lg-2">
					<div class="product-grid-comingsoon">
						<!-- Product Image -->
						
						<div class="pro-image">
				
						<img src="img/product/babyromper.jpg" alt="product" />
				
				
				
						</div>
						
						<!-- Product Content -->
						<div class="pro-content">
							<div class="top fix">
								<h3>Baby Romper</h3>
							
							</div>
						</div>
					</div>
				</div>	

				<!--  Caps -->
				<div class="col-xs-6 col-sm-4 col-lg-2">
					<div class="product-grid-comingsoon">
						<!-- Product Image -->
						
						<div class="pro-image">
						
						<img src="http://dropp-photo.s3.amazonaws.com/merchandises/v1/caps/baa84836f76c4be193f1ae5e9b8a92c1.jpeg"  />
				
				
					
						</div>
						
						<!-- Product Content -->
						<div class="pro-content">
							<div class="top fix">
								<h3>Caps</h3>
							
							</div>
						</div>
					</div>
				</div>		

				<!--  Greeting Cards -->
				<div class="col-xs-6 col-sm-4 col-lg-2">
					<div class="product-grid-comingsoon">
						<!-- Product Image -->
						
						<div class="pro-image">
						
						<img src="http://dropp-photo.s3.amazonaws.com/merchandises/v1/greeting_card/8ca23ce2ecea4d01956825e65c0c30ac.jpg" alt="product" />
				
				
					
						</div>
						
						<!-- Product Content -->
						<div class="pro-content">
							<div class="top fix">
								<h3>Greeting Card</h3>
								
							</div>
						</div>
					</div>
				</div>					

				<!--  Postcard -->
				<div class="col-sm-8 col-md-3 col-lg-4">
					<div class="product-grid-comingsoon">
						<!-- Product Image -->
						
						<div class="pro-image">
						
						<img src="http://dropp-photo.s3.amazonaws.com/merchandises/v1/postcard/2491052b7b994f8aa482cdd3a36f2960.jpg" alt="product" />
						
				
				
						</div>
						
						<!-- Product Content -->
						<div class="pro-content">
							<div class="top fix">
								<h3>Post Card</h3>
							
							</div>
						</div>
					</div>
				</div>											

				<!--  Glass Clock -->
				<div class="col-xs-6 col-sm-4 col-lg-2">
					<div class="product-grid-comingsoon">
						<!-- Product Image -->
						
						<div class="pro-image">
						
						<img src="http://dropp-photo.s3.amazonaws.com/merchandises/v1/glass_clock/b17dfac10e2943e5b4a73f1fb8d933b5.jpg" alt="product" />
				
				
				
						</div>
						
						<!-- Product Content -->
						<div class="pro-content">
							<div class="top fix">
								<h3>Glass Clock</h3>
							
							</div>
						</div>
					</div>
				</div>	

				<!--  Baby Napkin -->
				<div class="col-xs-6 col-sm-4 col-lg-2">
					<div class="product-grid-comingsoon">
						<!-- Product Image -->
						
						<div class="pro-image">
				
						<img src="http://dropp-photo.s3.amazonaws.com/merchandises/v1/baby_napkin/ab9afa7f7dd94416ade4a76a8d39ef7c.jpg" alt="product" />
				
				
					
						</div>
						
						<!-- Product Content -->
						<div class="pro-content">
							<div class="top fix">
								<h3>Baby Napkin</h3>
							
							</div>
						</div>
					</div>
				</div>	

				<!--  Photo Plate -->
				<div class="col-xs-6 col-sm-4 col-lg-2">
					<div class="product-grid-comingsoon">
						<!-- Product Image -->
						
						<div class="pro-image">
					
						<img src="http://dropp-photo.s3.amazonaws.com/merchandises/v1/photo_plate/d658015dd6ad4b49ac94963991cf694d.jpg" alt="product" />
				
				
						
						</div>
						
						<!-- Product Content -->
						<div class="pro-content">
							<div class="top fix">
								<h3>Photo Plate</h3>
								
							</div>
						</div>
					</div>
				</div>	

				<!--  Keychain -->
				<div class="col-xs-6 col-sm-4 col-lg-2">
					<div class="product-grid-comingsoon">
						<!-- Product Image -->
						<div class="pro-image">
							<img src="http://dropp-photo.s3.amazonaws.com/merchandises/v1/keychain/df3c33e76ecc4bb6ba4c40b6f80e5118.jpg" />
						</div>
						<!-- Product Content -->
						<div class="pro-content">
							<div class="top fix"><h3>Keychain</h3></div>
						</div>
					</div>
				</div>	

				<!--  Woven Bag -->
				<div class="col-xs-6 col-sm-4 col-lg-2">
					<div class="product-grid-comingsoon">
						<!-- Product Image -->
						<div class="pro-image">
							<img src="img/product/woven.jpg" />
						</div>
						<!-- Product Content -->
						<div class="pro-content">
							<div class="top fix"><h3>Woven Bag</h3></div>
						</div>
					</div>
				</div>	

				<!-- Money Bank-->
				<div class="col-xs-6 col-sm-4 col-lg-2">
					<div class="product-grid-comingsoon">
						<!-- Product Image -->
						<div class="pro-image">
							<img src="img/product/moneybank.jpg" />
						</div>
						<!-- Product Content -->
						<div class="pro-content">
							<div class="top fix"><h3>Money Bank</h3></div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>


</div>

