<!-- Product Details 2
============================================ -->
<div class="product-details2 pages">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<!-- Product Container -->
				<div class="row">
					<!-- Product Image -->
					<div class="product-image-2 col-md-6 col-xs-12">
						<!-- Product Image Tab container -->
						<div class="pro-image-tab-container tab-content fix">
							<!-- Product Image Tab -->
							<div class="pro-image-tab tab-pane active" id="image-1">
								<img src="img/pro-details-2/big-1.jpg" alt="" />
							</div>
							<div class="pro-image-tab tab-pane" id="image-2">
								<img src="img/pro-details-2/big-2.jpg" alt="" />
							</div>
							<div class="pro-image-tab tab-pane" id="image-3">
								<img src="img/pro-details-2/big-1.jpg" alt="" />
							</div>
							<div class="pro-image-tab tab-pane" id="image-4">
								<img src="img/pro-details-2/big-2.jpg" alt="" />
							</div>
						</div>
						<!-- Product Image Tab List -->
						<ul class="pro-image-tab-list-2">
							<li class="active"><a href="#image-1" data-toggle="tab"><img src="img/pro-details-2/1.jpg" alt="" /></a></li>
							<li><a href="#image-2" data-toggle="tab"><img src="img/pro-details-2/2.jpg" alt="" /></a></li>
							<li><a href="#image-3" data-toggle="tab"><img src="img/pro-details-2/3.jpg" alt="" /></a></li>
							<li><a href="#image-4" data-toggle="tab"><img src="img/pro-details-2/4.jpg" alt="" /></a></li>
						</ul>
					</div>
					<!-- Product Info -->
					<div class="col-md-6 col-xs-12">
						<div class="product-info-2 fix">
							<!-- Product Info Cat -->
							<div class="pro-info-cat-2"><p>{{msg}}</p></div>
							<!-- Product Info Title Ratting -->
							<div class="pro-info-title-2 fix">
								<h2>{{product.sizes[0].pk}}</h2>
							</div>
							<div class="fix">
								<div class="pro-info-price-2 float-left fix">
									<h1 class="new">RM{{product.minimum_price}}</h1>
									<h3 class="old">RM{{product.minimum_price}}</h3>
								</div>
								<div class="ratting pro-info-ratting pro-info-ratting-2 float-right">
									<i class="mo-star star active"></i>
									<i class="mo-star star active"></i>
									<i class="mo-star star active"></i>
									<i class="mo-star star active"></i>
									<i class="mo-star star active"></i>
								</div>
							</div>
							<div class="pro-info-avaibility fix">
								<p>Available: <span>In Stock</span></p>
								<div class="pro-info-quantity-2 float-right fix">
									<h3>Qty</h3>
									<div class="cart-plus-minus-2 float-right fix">
										<input type="text" value="0" name="qtybutton" class="cart-plus-minus-box">
									</div>
								</div>
							</div>
							<div class="pro-info-des-2">
								<p>Lorem ipsum dolor sit amet, consec adipisicing elit, sed do eiusmod empor incididunt oloremque laudantium, Eos qui ratione voluptatem sequi. Neque porro quisquam est, et dolore.</p>
							</div>
							<div class="pro-color-size pro-color-size-2">
								<div class="pro-color pro-color-2">
									<h4>Colors:</h4>
									<ul>
										<li><a href="#">color 1</a></li>
										<li><a href="#">color 2</a></li>
										<li><a href="#">color 3</a></li>
										<li><a href="#">color 4</a></li>
										<li><a href="#">color 5</a></li>
									</ul>
								</div>
								<div class="pro-size pro-size-2">
									<h4>Sizes:</h4>
									<ul>
										<li><a href="#">s</a></li>
										<li><a href="#">m</a></li>
										<li><a href="#">l</a></li>
										<li><a href="#">xl</a></li>
										<li><a href="#">xxl</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="pro-info-actions-2 text-center fix">
							<button class="pro-info-addcart"><i class="mo-cart"></i>Add to Cart</button>
							<button class="pro-info-wishlist"><i class="mo-heart"></i>Add to Wishlist</button>
						</div>
					</div>
				</div>

			</div>

		</div>
	</div>
</div>