<style>
h3{

	padding: 40px 0 ;
}
</style>
<div class='pages'>
<div class='container'>
<h1>Privacy Policy</h1>

Effective date: 1.6.2015

<h3>1.0 Introduction</h3>
Welcome to Camdy by CAMDY GLOBAL SDN BHD ("CAMDY").
This privacy policy ("Privacy Policy") sets forth the privacy practices of Camdy with respect to all personal data or other non-personal data provided or made accessible on or through our website at Camdy.photo (the "Website") and/or our mobile application ("Services"). In this Privacy Policy, "we", "us", "our" and other similar references mean Camdy. By subscribing, accessing or using our Services, you have agreed to both our Terms of Service and this Privacy Policy in full and as may be amended from time to time.
<br/><br/>
Remember that your use of our Services is at all times subject to the Terms of Service, which incorporates this Privacy Policy. Any terms we use in this Policy without defining them have the definitions given to them in the Terms of Service.
Camdy is committed to prevent personal data of individuals being used in an inappropriate manner and to ensure compliance with legal and regulatory requirements for data protection and privacy. Your privacy is our priority. Please read this Privacy Policy carefully as it elaborates and describes how Camdy collects, uses, protects and retains your personal data collected through our Services.
<br/><br/>
By using our Services, you understand and agree that we are providing a platform for you to post, submit, display, upload, share and print any contents which include any information, text, graphics, photos or other materials appearing on the Services (‘Content’) and to share the Content publicly. This means that other users may search for, see, view, share, use, print or download your Content that you make available through the Services, in consistent with this Privacy Policy and our Terms of Service.


<h3>2.0 General</h3>
In compliance with the applicable law of Malaysia, the expression of "personal data" stated herein shall bear the same meaning as defined in the Personal Data Protection Act 2010 ("PDPA").
Processing in relation to personal data means collecting, recording, holding or storing the personal data or carrying out any operation or set of operations on the personal data.
<br/><br/>
Sensitive personal data means any personal data consisting information including but not limited to the physical or mental health or condition of a Data Subject, his political opinions, his religious beliefs or other beliefs of a similar nature, the commission or alleged commission by him of any offence or any other personal data.
<br/><br/>
In consideration of your use of our Services, you represent that you are of legal age to form a binding contract and are not a person barred from receiving Services under the laws of Malaysia or other applicable jurisdiction. You also agree to provide true, accurate, current and complete information about yourself. If you provide any information that is untrue, inaccurate, not current or incomplete or we have reasonable grounds to suspect that such information is untrue, inaccurate, not current or incomplete, we reserve the right to suspend or terminate your account.

<h3>3.0 Collection of information</h3>
Camdy collects information either (1) directly from you through registration or subscription for our Services; or (2) from your use of our Services.
<br/><br/>3.1 Information you provide to us directly
<br/><br/>3.1.1 Account information
When you access and move around Camdy, register an Account with Camdy or purchase a Product from Camdy, we may collect your personal data includes but not limited to your name, username and password, email address, profile photo, billing and delivery address, phone number, payment method (typically credit card or debit card) details.
Upon the successful registration of an account, you can visit your personal profile at any time to edit the personal data about yourself.
<br/><br/>3.1.2 Invitation to join Camdy
If you would like to invite someone to the Services through our"Share Album" feature, you may send a text or email from your personal account. You understand and agree that you are responsible for any charges that apply to communications sent from your device, because this invitation is coming directly from your personal account. Camdy does not have access to or control this communication. You represent and warrant that you will not provide any contact details of non-users to us without their consent.
<br/><br/>3.2 Information we collect from your use of our Services
We collect/access personal data directly from you when you choose to engage any of our Services and provide such information to us. Thus, we are able to better understand how visitors/ you use the Services and, where possible, to improve your experience. The following are information we may collect from you through your use of our Services:
<br/><br/>3.2.1 Activity information
We keep track of the activities you take on Camdy.
We may keep a record of correspondence from you if you contact us.
We may keep details of transactions you carry out through our Website and Services and of the fulfilment of your orders.
<br/><br/>3.2.2 Access device information
When you access our Services from a computer, mobile device or other device(s), we may collect information from that device in respect of your location, IP address, and the pages you visited.
<br/><br/>3.2.3 Cookie information
"Cookies" are identifiers we transfer to your browser or device that allow us to recognize your browser or device and tell us how and when pages and features in our Services are visited and by how many people. We use cookies to help us track your use of the Services and preferences. If you do not wish to have cookies placed on your computer, you should set your browser to refuse cookies, but should be aware that certain features of our Services may not function properly without them or you may not be able to access all or parts of our Website and/or Services. You should refer to the help sections of your browser, browser extensions, or installed applications for instructions on blocking, deleting, or disabling cookies.


<h3>4.0 Notice and Choice</h3>
Purposes of collection and use of personal data<br/><br/>
4.1 We use the information we collect from you to try to provide a safe, efficient, and customized experience. You hereby acknowledge, confirm and consent to us collecting, recording, holding, storing, using, dealing with and otherwise processing such personal data, for any of the following purposes:-
Assist you to efficiently access your information after you sign in;
Remember your personal information such as username and password so you will not have to re-enter the same information during the next log-in;<br/>
<ul>
  <li>To share with our users your publicly visible work, photos, graphics, images and personal profile information. Therefore, by choosing to post or upload your photos, images or album to our Services, you hereby agree that we are authorised to collect and process your information including your personal data;</li>
  <li>To send you seasonal new updates messages and/or message informing you of a critical performance error in our Services;</li>
  <li>To assist Camdy in understanding your browsing preferences so that we can offer you tailored content accordingly;</li>
  <li>To conduct research and development and statistical analysis in connection with the Services to identify trends and develop new services that reflect your interests;</li>
  <li>To investigate and resolve any issues of the Services such as support, security, technical issues, complaints, report or other enquiries that you submit to us;</li>
  <li>To maintain and develop the Services;</li>
  <li>To improve your user experience and the overall quality of the Services;</li>
  <li>To detect and prevent fraudulent, unauthorized or illegal activity;</li>
  <li>To create personalised Product selected by you;</li>
</ul>

If you elect to store a payment method with us, to associate that payment method with you when you place an order;<br/>
<ul>
<li>To process payment you make for Products;</li>
<li>To provide customer support;</li>
<li>To contact you by email and mobile communication;</li>
<li>to administer and give effect to the commercial transaction and the management and/or enforcement thereof;<br/>
 to contact and provide you information regarding products, services, new launches, upcoming events, promotions, advertising, marketing and commercial materials (including emails, SMS or other means) and such other information as we feel may be of interest to you;</li>
 <li>to use third party service providers to help us operate our business.</li>
</ul>

4.2 You are not able to limit the processing of mandatory fields (marked as *) in respect of your personal information when you register for an account with us, in order for us to provide our Services to you. If you do not consent to Camdy processing your personal information for any of the purposes set out in this Privacy Policy, you must terminate your relevant account with Camdy and stop using the Services.<br/><br/>
4.3 Where sensitive personal data is provided and disclosed by you to Camdy, by such disclosure, you have consented Camdy to collect and process the data.


<h3>5.0 Disclosure of personal data</h3>
Personal data shall not without your consent be disclosed for any purpose other than the purpose for which the personal data was to be disclosed at the time of collection of the personal data or a purpose directly related to it, or be disclosed to a third party, organisations, companies and individuals outside of our Services other than that specified in the "Notice and Choice" section above. To the extent that you disclose to us any personal data of another individual, we shall assume, without independent verification, that you have obtained such individual's consent for the disclosure of such personal data as well as the processing of the same in accordance with the terms of this notification.


<h3>6.0 Security</h3>
All information and records containing personal data are considered to be our property and are afforded confidential treatment at all times. Camdy will take appropriate measures to protect the personal data from any loss, misuse, modification, unauthorized or accidental access or disclosure, alteration or destruction when processing personal data. All such electronic information is stored on restricted database servers<br/>
Unfortunately, no data transmission over the internet can be guaranteed as completely secure. So while we strive to protect such personal data, we cannot ensure or warrant the security of any personal data transmitted to us and individuals do so at their own risk.<br/>
The Services contain links to other sites. Camdy is not responsible for the privacy practices or the content of such sites.

<h3>7.0 Data retention and transfer</h3>
Camdy retains personal data for as long as necessary for its legitimate business purposes, and as otherwise permitted by applicable law.<br/>
Your personal data may from time to time be transferred to, stored, used and processed by us in places other than Malaysia. This is because some of our digital storage facilities and servers may be located in such other places.<br/>
In addition to the above, your personal data may also be transferred out of Malaysia to third parties and you hereby consent to the transfer of your personal data out of Malaysia.<br/>

<h3>8.0 Data integrity</h3>
In addition to assuring you that we will protect your personal data, we also want to make sure that it is reliable, accurate, complete and not misleading. In order to let user to keep their personal data up-to-date, please refer to the "Enquiries" section below for the communication methods available.

<h3>9.0 Access</h3>
Upon request, we will provide you with reasonable access to the personal data we collect about you. Because personal data—for example, your email address—is required to use our Services, we retain your personal data as long as your account is active. You will have the opportunity to correct, update, modify or delete this information updating your information in our Website.

<h3> 10.0 Change of control </h3>
If we sell or otherwise transfer, either in part or the whole of Camdy and/or our assets to another organization (including but not limited to disposition, merger, acquisition and/or liquidation), your information such as name and email address, Content and any other information collected through the Services may be among the items sold or transferred. You acknowledge and agree Camdy to disclose, release and transfer the personal data to the other party.

<h3>11.0 Changes to the Privacy Policy</h3>
Camdy reserves the right at our sole and absolute discretion to change, amend, modify, supplement or vary this Privacy Policy with or without notice to you or maybe posted on this page. You are advised to periodically visit this Privacy Policy so that you are aware of the Privacy Policy that applies to your use of our Services. Your continued use of our Services after any modification to this Privacy Policy will constitute your acceptance of such modification.

<h3>12.0 Language</h3>

In the event of any inconsistency between the English version and the Bahasa Malaysia version of this Privacy Policy, the English version shall prevail.

<h3>13.0 Governing law and jurisdiction</h3>

This Privacy Policy shall be governed by the laws of Malaysia and you and Camdy agree to submit to the exclusive jurisdiction of the Malaysian courts should conflict arises.

<h3>14.0 Enquiries</h3>

If you have any questions about this policy or our Website or Services in general, please visit Contact Us on Camdy.photo or email us at hello@camdy.photo. Alternatively, user can also ask and send question(s) via Feedback on ­­­­­Camdy mobile application.


</div>
</div>