<!-- Product Details 2
============================================ -->
<div class="product-details2 pages">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<!-- Product Container -->
				<div class="row">
					<!-- Product Image -->
					<div class="product-image-2 col-md-6 col-xs-12">
						<!--	EDITOR      -->
						<div id="shirtDiv" class="page" style="width: 530px; height: 500px; position: relative; background-color: rgb(255, 255, 255);">
							<img id="tshirtFacing" src="{{selectedItem || selectedItemObject.images[0]}}"></img>
					<div ng-if=" canvasWidth && canvasHeight" id="drawingArea" style="position: absolute;top: {{x}}px;left: {{x + y/2}}px;z-index: 10;width: 300px;height: 300px;">
								<canvas  id="designer-canvas" width="{{canvasWidth + x}}" height="{{canvasHeight + y}}" class="hover" style="-webkit-user-select: none;"></canvas>
							</div>
						</div>
						<ul class="pro-image-tab-list-2">
							<li ng-repeat="img in  selectedItemObject.images" ng-class="{active: activeImage== img}" class=" pointer" ng-click="changeSelectedItem(img)">
								<a data-toggle="tab"><img src="{{img}}" alt="" /></a>
							</li>
						</ul>
					</div>
					<!-- Product Info -->
					<div id="tabs" class="col-md-6 col-xs-12">
						<div class="btn-group btn-group-justified btn-menu hidden-xs" ng-click="editMode = 'none'">
							<a ui-sref="custom.images.home" ng-click="editMode = 'none'" class="btn btn-default" ng-class="{active: (activeTab == 'images' && editMode == 'none') || editMode == 'image'}"><i class="fa fa-camera"></i><br />
								<translate>Add image</translate>
							</a>
							<a ui-sref="custom.text.add" ng-click="editMode = 'none'" class="btn btn-default" ng-class="{active: (activeTab == 'text' && editMode == 'none') || editMode == 'text'}"><i class="fa fa-font"></i><br />
								<translate>Add text</translate>
							</a>
							<a ui-sref="buy.home" class="btn btn-default" ng-class="{active: activeTab == 'buy' && editMode == 'none'}"><i class="fa fa-shopping-cart"></i><br /><translate>Buy now</translate></a>
						</div>

						<div class="view-animate-container">
							<div ui-view="edit_text"></div>
							<div ui-view="edit_image"></div>
						</div>

						<div class="view-animate-container" ng-show="editMode == 'none'">
							<div ui-view></div>
						</div>


					</div>

				</div>
			</div>

		</div>

	</div>
</div>
</div>